@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px 4px #BBB;
  background-image: url("../images/dd_bg1.png"); }

.z0, .z1, .z2 {
  position: absolute; }

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 850px; }

#loaderInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2, 2);
  font-size: 48pt; }

#possible {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  font-size: 18pt; }

@media screen and (max-width: 1500px) {
  #possible {
    display: none; } }

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  vertical-align: top;
  display: inline-block;
  text-align: center;
  z-index: 2; }

.item #captionImg {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75); }

.hidden {
  display: none !important; }

.title, .btns {
  display: block;
  font-size: 24pt; }

.description {
  display: block;
  font-size: 12pt;
  text-align: justify; }

.downloads {
  display: block;
  font-size: 10pt; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  z-index: 1; }

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block; }

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0 1px 0 0; }

.blue {
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5; }

.blue:hover {
  background-color: #6FC6FF; }

.orange {
  background-color: #e67e22;
  box-shadow: 0 5px 0 0 #CD6509; }

.orange:hover {
  background-color: #FF983C; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: none; }

.pace-inactive {
  display: none; }

.activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 56px;
  right: 56px;
  width: 56px;
  height: 56px;
  border: solid 3px transparent;
  border-top-color: #FF7F00;
  border-bottom-color: #FF7F00;
  border-radius: 50%;
  -webkit-animation: pace-spinner 800ms linear infinite;
  -moz-animation: pace-spinner 800ms linear infinite;
  -ms-animation: pace-spinner 800ms linear infinite;
  -o-animation: pace-spinner 800ms linear infinite;
  animation: pace-spinner 800ms linear infinite; }

#loadStatus {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 56px;
  right: 56px;
  color: #888; }

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes pace-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
