body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.z0, .z1, .z2 {
  position: absolute; }

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 850px; }
