@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px 4px #BBB;
  background-image: url("../images/dd_bg1.png");
}

.z0, .z1, .z2 {
  position: absolute;
}

#about {
  color: #aeaeae;
  font-size: 10pt;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 50;
}

#about a {
  color: #9b9bc2;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  width: 850px;
  height: 850px;
  z-index: 15;
}

#container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 850px;
  z-index: 16;
}

#circle-text {
  width: 850px;
  height: 850px;
  z-index: 16;
}

#loaderInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#possible {
  position: absolute;
  top: 50%;
  left: -1000px;
  transform: translate(0, -50%);
  font-size: 18pt;
}

@media screen and (max-width: 1500px) {
  #possible {
	display: none;
  }
}

/* Cards */
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

$card-padding: 24px !default;
$card-bg-color: #fff !default;
$card-link-color: #FF983C !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;

.card-panel {
  transition: box-shadow .25s;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: $card-bg-color;
}

.card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 65%;
  left: 50%;
  transform: translate(-50%, 0);

  .card-title {
	font-size: 24px;
	font-weight: 300;
	&.activator {
	  cursor: pointer;
	}
  }

  // Card Sizes
  &.small, &.medium, &.large {
	position: relative;

	.card-image {
	  max-height: 60%;
	  overflow: hidden;
	}
	.card-image + .card-content {
	  max-height: 40%;
	}
	.card-content {
	  max-height: 100%;
	  overflow: hidden;
	}
	.card-action {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	}
  }

  &.small {
	height: 300px;
  }

  &.medium {
	height: 400px;
  }

  &.large {
	height: 500px;
  }

  // Horizontal Cards
  &.horizontal {
	&.small, &.medium, &.large {
	  .card-image {
		height: 100%;
		max-height: none;
		overflow: visible;

		img {
		  height: 100%;
		}
	  }
	}

	display: flex;

	.card-image {
	  max-width: 50%;
	  img {
		border-radius: 2px 0 0 2px;
		max-width: 100%;
		width: auto;
	  }
	}

	.card-stacked {
	  display: flex;
	  flex-direction: column;
	  flex: 1;
	  position: relative;

	  .card-content {
		flex-grow: 1;
	  }
	}
  }

  // Sticky Action Section
  &.sticky-action {
	.card-action {
	  z-index: 2;
	}

	.card-reveal {
	  z-index: 1;
	  padding-bottom: 64px;
	}
  }

  .card-image {
	position: relative;

	// Image background for content
	img {
	  display: block;
	  border-radius: 2px 2px 0 0;
	  position: relative;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  width: 100%;
	}

	.card-title {
	  color: $card-bg-color;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  max-width: 100%;
	  padding: $card-padding;
	}
  }

  .card-content {
	padding: $card-padding;
	border-radius: 0 0 2px 2px;

	p {
	  margin: 0;
	  color: inherit;
	}
	.card-title {
	  display: block;
	  line-height: 32px;
	  margin-bottom: 8px;

	  i {
		line-height: 32px;
	  }
	}
  }

  .card-action {
	&:last-child {
	  border-radius: 0 0 2px 2px;
	}
	position: relative;
	background-color: inherit;
	border-top: 1px solid rgba(160, 160, 160, .2);
	padding: 16px $card-padding;

	a:not(.btn):not(.btn-large):not(.btn-floating) {
	  color: $card-link-color;
	  margin-right: $card-padding;
	  transition: color .3s ease;
	  text-transform: uppercase;

	  &:hover {
		color: $card-link-color-light;
	  }
	}
  }

  .card-reveal {
	padding: $card-padding;
	position: absolute;
	background-color: $card-bg-color;
	width: 100%;
	overflow-y: auto;
	left: 0;
	top: 100%;
	height: 100%;
	z-index: 3;
	display: none;

	.card-title {
	  cursor: pointer;
	  display: block;
	}
  }
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  vertical-align: top;
  display: inline-block;
  text-align: center;
  z-index: 25;
}

.missedModal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scale(0, 0);
  z-index: 25;
  width: 80vw;

  .btn {
	position: absolute;
	right: 10px;
	bottom: 10px;
  }
}

#missedList {
  overflow-y: scroll;
  height: 100vh;
}

.missedDemo {
  height: 300px;
  img {
	width: 300px;
	margin-right: 15px;
	float: left;
  }
}

.item #captionImg {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none !important;
}

.title, .btns {
  display: block;
  font-size: 24pt;
}

.description {
  display: block;
  font-size: 12pt;
  text-align: justify;
}

.downloads {
  display: block;
  font-size: 10pt;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0;
  z-index: 24;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
}

.blue {
  background-color: #55acee;
  box-shadow: 0 5px 0 0 darken(#55acee, 10);
}

.blue:before {
  background-color: darken(#55acee, 10);
}

.blue:hover {
  background-color: #6FC6FF;
}

.orange {
  background-color: #FF983C;
  box-shadow: 0 5px 0 0 darken(#FF983C, 10);
}

.orange:before {
  background-color: darken(#FF983C, 10);
}

.orange:hover {
  background-color: #FF983C;
}

#missedModal {
  position: absolute;
  left: -999px;
}

.green {
  background-color: #19a819;
  box-shadow: 0 5px 0 0 darken(#19a819, 10);
}

.green:before {
  background-color: darken(#19a819, 10);
}

.green:hover {
  background-color: #19a819;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: none;
}

.pace-inactive {
  display: none;
}

.activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 56px;
  right: 56px;
  width: 56px;
  height: 56px;
  border: solid 3px transparent;
  border-top-color: #FF7F00;
  border-bottom-color: #FF7F00;
  border-radius: 50%;
  -webkit-animation: pace-spinner 800ms linear infinite;
  -moz-animation: pace-spinner 800ms linear infinite;
  -ms-animation: pace-spinner 800ms linear infinite;
  -o-animation: pace-spinner 800ms linear infinite;
  animation: pace-spinner 800ms linear infinite;
}

#loadStatus {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 56px;
  right: 56px;
  color: #888;
}

@-webkit-keyframes pace-spinner {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-moz-keyframes pace-spinner {
  0% {
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-o-keyframes pace-spinner {
  0% {
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@-ms-keyframes pace-spinner {
  0% {
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}
